.header
{
    background-color: grey;
    padding: 10px;
    margin: 5px;
}
h1,.bannertext
{
    text-align: center;
    color: white;
    margin: 0;
}
.banner
{
    background-color: skyblue;
    margin: 5px;
    height: 400px;
}
.bannertext
{
    line-height: 400px;
}
.section1
{
    margin: 10px;
    color: black;
    text-align: center;
}
.rowcircle
{
    display: flex;
    margin: 5px;
}
.circle
{
    height: 300px;
    width: 25%;
    background-color: darkgoldenrod;
    border-radius: 50%;
    margin: 15px;
}
.containerinside
{
    display: flex;
    margin: 5px;
}
.col50
{
    width: 50%;
    margin: 10px;
}
.greycol
{
    background-color: grey;
}
.row3
{
    background-color:chocolate;
    height: 100px;
    margin-bottom: 10px;
}
.mainheading
{
    text-align: center;
    color: white;
    line-height: 300px;
    margin: 0;
}
h2
{
    margin: 0;
    color: white;
    text-align: center;
    line-height: 100px;
}
.square
{
    background-color: orangered;
    width: 25%;
    height: 300px;
    margin: 5px;
}
.footer
{
    background-color:rgb(252, 147, 165);
    padding: 10px;
    margin: 5px;
}